<div id="particles-js">
    <div class="container">
        <div class="form-field">
            <h1>Color Picker</h1>
            <form method="POST", action="/api/savecolor">
                <div class="input-field">
                    <input class="text" type="text" name="colorcode" placeholder="Enter Your Color Code">
                    <input class="submit" type="submit" value="Submit">
                </div>
            </form>
        </div>
        <div class="main-content">
            <div class="color-container-wrapper">
                {{#if array}}
                {{!-- <h1>ds</h1> --}}
                    {{#each array}}
                        <div class="color-container">
                            <div class="color" style="background-color: {{this}};"></div>
                            <p>{{this}}</p>
                        </div>
                    {{/each}}
                {{else}}
                <h1 class="empty-array">Add atleast one color.</h1>
                {{/if}}


                {{!-- <div class="color-container">
                    <div class="color"></div>
                    <p>#333de8</p>
                </div> --}}
            </div>
        </div>
    </div>
</div>